/* .card {
    position: relative;
    width: 500px;
    height: 500px;
    margin: 50px;
    background-color: #1c1c1c;
    border-radius: 10px;
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  
  .card:hover h1 {
    visibility: hidden;
    opacity: 0;
  }
  
  .card:hover .neon-box {
    visibility: visible;
    opacity: 1;
  }
  
  .neon-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 10px;
    background-color: #1c1c1c;
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s ease-in-out;
  }
  
  .play-btn {
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    background-color: #1c1c1c;
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  
  .card:hover .play-btn {
    display: inline-block;
    opacity: 1;
  }  
  
  
  .hide {
    visibility: hidden;
    opacity: 0;
  }
  
  .show {
    visibility: visible;
    opacity: 1;
  }
   */